.pointer {
    cursor: pointer;
  }
  
  .card2 {
    border-radius: 15px;
  }
  .imgFluid{
    width: 180px;
    border-radius: 10px;
  }
  .randomDiv1{
    background-color: #efefef
  }
  .randomDiv2{
    color: #2b2a2a
  }