.mainSingleDiaryDiv {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5%;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #f5f5f5;

  .singleDiaryInfoMainDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .singleDiaryInfoCommentsAndOwner {
      display: flex;
      justify-content: space-around;
      width: 70%;
    }
  }
}
