.weekParent{
    color: white;
    text-align: center;
    padding: 1px;
    height: 75px;
    width: 60px;
    font-size: 11px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 5px;
}
.weekParent.GER {
    background-color: #5db7ff;
}
.weekParent.VEG{
    background-color: #a2da7a;
}
.weekParent.FLO {
    background-color: #ff8855;
}
.weekParent.HAR {
    background-color: #e35149;
}

.weekParent.ADD {
    background-color: #dadada;
    color: black;
}
.weekParent.ADD:hover {
    background-color: #d8d8d8;
    color: rgb(94, 94, 94);
}
.weekMiddle{
    margin-top:2px; 
    color:black; 
    background-color: white; 
    font-size: 20px; 
    height: 55px; 
    border-radius: 4px;
}
.weekMiddle.ADD{
    font-size: 30px;
    background-color: #dadada;
}
.weekMiddle.ADD:hover{
    background-color: #d8d8d8;
    color: rgb(94, 94, 94);

}
.weekChild{
    background-color: white; 
    font-size: 11px;
}